@import url("https://use.typekit.net/bcj6wug.css");

:root {
    --darker-blue: #171A21;
    --darke-blue: #1B2838;
    --dark-blue: #1D4157;
    --blue: #3B6490;
    --light-blue: #67C1F5;
    --white: #ffffff;
    --light-gray: #ACB2B8;
    --black: #000000;
    --dark-gray: #101010;
    --dark-green: #5B7E10;
    --light-green: #A0E047;
    --light-purple: #BA5FD0;
    --dark-purple: #3F1A43;
  }

  .App {
      background-color: var(--darke-blue);
      font-family: 'motiva sans', sans-serif;
  }

/* HEADER */

.header-nav {
    background-color: var(--darker-blue);   
}

.header-nav-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-figure img{
    width: 130px;
}

.header-nav-list {
    display: flex;
}

.header-nav-list li {
    list-style: none;
}

.header-nav-list a {
    text-decoration: none;
    color: var(--light-blue);
    padding: 1em 2em;
}

.header-nav-list a:hover {
    color: var(--white);
}

.header-nav-search {
    display: flex;
}

#search-input {
    color: var(--light-blue);
    background-color: var(--blue);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid var(--light-blue);
}

#search-button {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
}

#download-button {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
}

.header-banner-figure {
    width: 100%;
    margin: 0;
}

.header-banner-figure img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

/* MAIN */

.main {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

/* FILTERS */

.main-filters-container {
    display: flex;
}

.main-filters-container form {
    margin-right: 100px;
}

.main-filters-container label {
    color: var(--light-blue);
    margin-right: 15px;
}

.main-filters-container select {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: var(--light-blue);
    width: 210px;
}

/* GAME ITEM */

.game-item-container {
    width: 100%;
    height: 255px;
    background: linear-gradient(90deg, var(--darker-blue), var(--darke-blue));
    border-radius: 5px;
    box-shadow: 0px 3px 6px var(--dark-gray);
    position: relative;
    transition: 0.5s ease;
}

.game-item-container:hover {
    box-shadow: 0px 3px 6px var(--light-blue);
    transition: 0.5s ease;
}

.game-item-container a {
    color: var(--light-blue);
    text-decoration: none;
}

.game-item-cover figure {
    margin: 0;
    position: relative;
}

.game-item-cover img {
    width: 100%;
    height: 155px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}

.game-item-sale-tag {
    color: var(--light-blue);
    background-color: var(--blue);
    padding: 0.2em 0.4em;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 10;
    margin: 0;
    border-radius: 0px 5px 0px 5px;
}

.game-item-title {
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
}

.game-item-prices {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    align-items: center;
}

.game-item-prices p {
    margin: 0;
}

.game-item-price {
    color: var(--blue);
    text-decoration: line-through;
    padding-right: 10px;
}

.game-item-new-price {
    color: var(--light-green);
    background-color: var(--dark-green);
    padding: 0.2em 0.4em;
    border-radius: 5px;
}

/* GAME CARROUSEL */

.game-carrousel-title {
    color: var(--white);
    font-weight: 400;
    text-shadow: 0px 0px 6px var(--light-blue);
    font-size: 25px;
    margin-top: 35px;
}

.game-carrousel-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* HIGHLIGHT GAMES */

.highlight-games-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.highlight-game-container {
    width: 49%;
}

.highlight-game-container a {
    text-decoration: none;
}

.highlight-game-figure {
    margin: 0;
}

.highlight-game-figure img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--dark-gray);
}

.highlight-game-header {
    display: flex;
    align-items: center;
}

.highlight-game-header p,
.highlight-game-header h2 {
    margin: 0;
}

.highlight-game-tag {
    color: var(--light-purple);
    background-color: var(--dark-purple);
    padding: 0.2em 0.4em;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
}

.highlight-game-title {
    padding-left: 10px;
    color: var(--light-blue);
    font-size: 16px;
}

.highlight-game-description {
    color: var(--light-gray);
    font-size: 12px;
}

.highlight-game-button {
    color: var(--blue);
    font-size: 16px;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.highlight-game-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* FOOTER */

#footer {
    background-color: var(--darker-blue);
    color: var(--light-gray);
    display: flex;
    width: 85%;
    padding: 10px 7.5% 0 7.5%;
    margin-top: 35px;
    font-size: 12px;
}

.footer-figures figure {
    width: 100px;
}

.footer-figures figure img{
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.footer-content ul li {
    list-style: none;
    padding: 0.2em 0.6em;
    border-right: 1px solid var(--light-gray);
}

.footer-content ul li:last-child {
    border-style: none;
}

.footer-content ul li:first-child {
    padding-left: 0;
}

.footer-content ul li a {
    text-decoration: none;
    color: var(--light-gray);
}

.footer-content ul li a:hover {
    text-decoration: underline;
}